{% extends 'base.html' %}
{% block title %}Добавление автора{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Добавление автора</h2>
        <form action="{% url 'webapp:update_book' form.instance.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'book/book_form.html' %}
            <button type="submit" class="btn btn-success m-2">Сохранить</button>
            <a role="button" class="btn btn-primary m-2" href="{% url 'webapp:authors' %}">Назад</a>
        </form>
    </div>
{% endblock %}