<div id="book-{{ book.pk }}" class="border-bottom pb-2 mb-2 pb-2">
    <a role="button" class="text-decoration-none text-dark font-weight-bold" href="{% url 'webapp:book' book.pk %}">
        <h5 class="text-wrap d-block mb-0 font-weight-bold">
        {{ forloop.counter }}. {{ book.name }}
        ({{ book.published_year }})</h5>
    </a>
    {% if user.is_staff %}
        <a class="text-decoration-none text-dark d-inline-block pb-0 mb-0 font-weight-light ml-3 mt-1"
           href="{% url 'webapp:update_book' book.pk %}">
           <span class="small border-bottom border-warning pb-1">Редактировать</span></a>
        <a class="text-decoration-none text-dark d-inline-block pb-0 mb-0 font-weight-light ml-3 mt-1">
            <span
                id = "delete_item"
                data-toggle="modal"
                data-target="#delete_item"
                data-url="{% url 'webapp:delete_book' book.pk %}"
            >Удалить
            </span>
        </a>
        <form id="add-form-{{ book.pk }}" method="get"
            action="{% url 'webapp:add_to_bookcase' book.pk %}">
            {% csrf_token %}
            <div
                class="add_to_bookcase text-decoration-none text-dark d-inline-block pb-0 mb-0 font-weight-light ml-3 mt-1"
                data-form_id="add-form-{{ book.pk }}"
            >
           <span class="small border-bottom border-warning pb-1">Добавить к себе</span></div>
        </form>
        <form id="remove-form-{{ book.pk }}" method="get"
            action="{% url 'webapp:remove_from_bookcase' book.pk %}">
            {% csrf_token %}
            <div
                class="remove_from_bookcase text-decoration-none text-dark d-inline-block pb-0 mb-0 font-weight-light ml-3 mt-1"
                data-form_id="remove-form-{{ book.pk }}"
                data-book_id="book-{{ book.pk }}"
            >
           <span class="small border-bottom border-warning pb-1">Убрать у себя</span></div>
        </form>
    {% endif %}
</div>
{% include 'delete_modal.html' %}