{% extends 'base.html' %}
{% block title %}Автор{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pb-3 mb-2">
            <h2 class="text-nowrap d-block mb-0 font-weight-bold">{{ author.name }}</h2>
            <p class="d-block pb-0 mb-0 mt-1 ml-3">Дата рождения:
                <span class="font-weight-bold">
                    {% if author.birth_date %} {{ author.birth_date }} {% else %} Не указана {% endif %}
                </span>
            </p>
            <p class="d-block pb-0 mb-0 mt-1 ml-3">Дата смерти:
                <span class="font-weight-bold">
                    {% if author.death_date %} {{ author.death_date }} {% else %} Не указана {% endif %}
                </span>
            </p>
            <p class="d-block pb-0 mb-0 mt-1 ml-3">Биография:
                <span class="font-weight-bold">
                    {% if author.biography %} {{ author.biography }} {% else %} Не указана {% endif %}
                </span>
            </p>
        </div>

        <div>
            <h3 class="text-nowrap d-block mb-0 font-weight-bold"> Книги </h3>
            {% for book in books %}
                {% include 'book/books.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}